[class^="col"] {
  min-height: 70px;
  background-color: #26a269;
  border: 1px solid white;
  color: white;
}

.nested {
  background-color: #57e389;
}

 {
  min-height: 140px;
}

.padding {
  padding: 10px;
}
